/* h1 {
  color: blue;
}
.completed {
  text-decoration: line-through;
  color: gray;
} */

/* .urgent {
  margin-left: 10px;
} */

.ticketList {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.ticketItem {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.del {
  color: red;
}

/* .low {
  color: blue;
}

.medium {
  color: orange;
}

.high {
  color: red;
} */

.edit-btn {
  width: 100%;
}

.save-btn,
.cancel-btn {
  width: 48%;
  margin: 0;
}

.admin-heading {
  width: 150px;
}
