h1{
    color: blue;
}
.completed{
    text-decoration: line-through;
    color: gray;
}

/* .urgent {
  margin-left: 10px;
} */
.todoList {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.todoItem {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}
.mainWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
}
.del {
  color: red;
  text-decoration: underline;
}